@import "ember-cli-bootstrap-4/bootstrap";
@import "./components/status-checker";
@import "./components/check-view";
@import "./components/loading";

html, body {
	overflow: auto;
	height: 100%;
  background-color: rgb(82, 86, 89);
	.container-fluid {
		height: 100%;
	}
}

.updown-checker {
  margin-top: 25px;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.sorting-arrows {
  height:30px;
  width: 30px;
  float: right;
  span {
    float: left;
    height: 7px;
    font-size: 20px;
  }

  &.active {
    span {
      &:first-child.hide {
        color: white;
      }
      &:last-child.hide {
        color: white;
      }
    }
  }
}