@import "ember-cli-bootstrap-4/bootstrap";
@import "./components/status-checker";
@import "./components/loading";

html, body {
	overflow: auto;
	height: 100%;
  background-color: rgb(82, 86, 89);
	.container-fluid {
		height: 100%;
	}
}

.updown-checker {
  margin-top: 15px;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 5px;
}