.status-checker {
  overflow: hidden;
  word-wrap: break-word;
  
  min-height: 300px;
  .text-green {
    color: #008000;
  }
  .text-yellow {
    color: #CCCC00;
  }
  .text-red {
    color: #FF0000;
  }
}