.status-checker {
  min-height: 300px;
  .icon-checker {
    height: 25px;
    width: 25px;
  }
  .uptime-green {
    color: #008000;
  }
  .uptime-yellow {
    color: #CCCC00;
  }
  .uptime-red {
    color: #FF0000;
  }
}