<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-sm-11 updown-checker">
      {{status-checker}}
    </div>
  </div>
</div>
<i class="fas fa-tablet-alt"></i>